  /* general  */
* {
    box-sizing: border-box;
  }
  
  /* body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    background-color:white;
    line-height: 1.5;
  
  }
    /* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  
}

p {
  margin: 5px;
}
    
header {
  background-color: rgb(77, 98, 190);
  padding: 15px 6% 10px 10;
  flex-direction: row;
  display: flex;
  justify-content:space-between;
  align-items:center;


}
 /*img of Iris   */
img{
height:100px;
width: 120px;
margin: 10px ;
border-radius: 40%;

}

.position-header img, .position-header h1{
  /* display: inline-block; */
  overflow: auto;
  float:left;
}

.position-header {
  height: 120px
}

header div h1 {
    color:rgb(24, 20, 20);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    position: relative;
    left: 120px;
    bottom: 110px;
   
  }
  
  /*nav  */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    font-weight: bold;

  }
  nav a {
    text-decoration: none;
    padding: 5px 10px;
    color:  rgb(20, 26, 26);
    margin-right: 10px;
    font-size: 1.9rem;
  }
  
  nav a:hover {
    background-size: 100% 100%;
    color:rgb(197, 184, 184);
  }
  
  nav a:last-child {
    margin-right: 0;
  }
  
    /* main  */
  main {
    margin-top: 20px;
    margin-bottom: 45px;

  }

  /*section class="page with background img*/

  .page  {
    background-color: rgb(56, 78, 78);
    background-image:url("../images/image-one.jpg");
    background-size: cover;
    background-size: 100% 100%;
    height: 150px;
    vertical-align: baseline;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
 

  }
  
.page div {
    flex: 0 0 90%;
 
  }
  
.page h2 {

    color: rgb(3, 3, 3);
    margin: 0;
    padding: 5px 10px;
    font-size: 2.3rem;
    line-height: 1.2;
    display: inline;
  }



    /*main class content*/
  .content {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
    
    

   /*Portfolio container 5 sections*/

  }
   /*section class page-section*/
  .page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid rgb(77, 98, 190);
    font-size: 4vw;
    line-height: 1.1;
  }
  
  .page-section > div {
    flex: 0 0 77%;
  }
  
  .page-section p {
    margin-bottom: 20px;
    text-align:justify;
    line-height: 1.5em;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .sample {
    border: 5px solid rgba(58, 37, 142, 0.03);
    background-color:rgba(77, 98, 190, 0.527);
    font-size: 4vw;
    color: rgb(8, 7, 7);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }
  
  /* feature first portfolio item */
  
  .sample:first-child {
      min-height: 400px;
      flex-basis: 100%;
  }
  
  .sample:hover {
    background-color: rgba(180, 144, 144, 0.023);
  }
  
  .sample div {
    background-color:rgba(7, 51, 250, 0.493);
    padding: 8px 10px;
  }
  
  .sample h3 {
    font-size: 1.6rem;
  }
  
     /*section contact me*/
  .contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .contact address a {
    color:rgb(24, 21, 21);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, rgba(12, 11, 11, 0.3), 0%, rgb(68 94 206) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;

    margin: 0 0.2rem 0.1rem;
    display: inline-block;
  }
  
  .contact address a:hover {
    background-size: 100% 88%;
    color: black;
  }
  
  /* portfolio project images */
  .one {
    background-image: url("../images/project1.png");
  }
  
  .two {
    background-image: url("../images/challenge1.jpg");
  }
  
  .three {
    background-image: url("../images/miniproject.jpg");
  }
  
  .four {
    background-image: url("../images/prework.jpg");
  }
  
  .five {
    background-image: url("../images/image-6.jpg");
  }
  
  /* responsive web design with media */
  
  @media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
  
    }

    header div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .position-header img, .position-header h1{
      display: block;
    }

    .position-header {
      height: 160px;
    }

    header div h1 {
      display: block;
      position:relative;
      bottom: 10px;
      left: 10px;
      font-size: 20px;;
      }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid rgba(18, 24, 112, 0.3);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 7vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .sample,
    .sample:first-child {
      flex-basis: 100%;
    }
  
    .sample:first-child {
      min-height: 150px;
    }
  
.page {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: center;

    }
  }

     /*bottom with copyright*/
footer {

    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #0c0b0b;
    text-align: center;
}